<div class="container" fxLayout="column" fxLayoutAlign="start">
    <div class="intro" fxLayout="column" fxLayoutAlign="start">
        <div class="title-item mb-20" fxLayout="row" fxLayoutAlign="space-between center" >
            <div class="edit-profile">{{title}}</div>
            <div mat-raised-button class="btn" (click)="closePanel()"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>
        <div class="search-edit" fxLayout="row" fxLayoutAlign="space-between center">
            <input [(ngModel)]="userQuestion" (ngModelChange)="this.userQuestionUpdate.next($event)" class="edit m-0 p-0" fxFlex="80" placeholder="Search by name"/>
        </div>
        <mat-divider class="divider"></mat-divider>
        <div class="item-list" fxLayout="column" fxLayoutAlign="space-between center">
            <mat-icon *ngIf="isLogging" ><mat-spinner color="warn" diameter="20">
            </mat-spinner></mat-icon>
            <div class="item" (click)="selectServiceProvider(serviceProvider.userId)" *ngFor="let serviceProvider of serviceProviders" fxLayout="row" fxLayoutAlign="flex-start center">
                <img *ngIf="serviceProvider.avatarUrl" src="{{serviceProvider.avatarUrl}}" class="avatar small32"/>   
                <img *ngIf="!serviceProvider.avatarUrl" src="assets/icons/horselinc/ic-profile.svg" class="avatar small32"/>
                <span class="name">{{serviceProvider.name}}</span>
            </div>
        </div>
        <a href="{{getInviteHorseLinc()}}"><button class="btn-invite" mat-button>Invite to HorseLinc</button></a>
    </div>
</div>
