<div fxLayout="row">
    <div name="horseForm" [formGroup]="horseForm" fxLayout="column">
        <div fxLayout="column">
            <div fxLayout="row" class="edit-horse-profile">
                <div *ngIf="pageType =='new'" class="text-box6 title black-green-color" fxLayoutAlign="start center">
                    Create Horse Profile
                </div>
                <div *ngIf="pageType =='edit'" class="text-box6 title black-green-color" fxLayoutAlign="start center">
                    Edit Horse Profile
                </div>
                <div (click)="ProfileCancel()" class="pointer">
                    <img class="button-div pointer" src="assets/icons/horselinc/filled.svg" />
                </div>
            </div>
            <div class="photo input-group">
                <label for="file123" class="file-upload">
                    <input id="file123" type="file" (change)="changedAvatarFile($event)">
                    <img class="image" src={{uploadedAvatarUrl}}/>
                </label>
            </div>
        </div>
        <div fxLayout="column">
            <div fxLayout="column">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="50" class="mat-select-box" fxLayoutAlign="start center">
                        <input fxFlex class="text-16 input-color p-0" placeholder="Horse Barn Name(required)" formControlName="barnName" required/>
                        <div class="edit-title">Horse Barn Name</div>
                    </div>

                    <div fxFlex="50" class="mat-select-box" fxLayoutAlign="start center">
                        <input fxFlex class="text-16 input-color p-0" placeholder="Horse Show Name(required)" formControlName="displayName" required/>
                        <div class="edit-title">Horse Show Name</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="50" class="mat-select-box" fxLayoutAlign="start center">
                        <mat-select class="text-16 input-color" placeholder="Horse Gender(required)" formControlName="gender" required>
                            <mat-option value="Mare">Mare</mat-option>
                            <mat-option value="Stallion">Stallion</mat-option>
                            <mat-option value="Gelding">Gelding</mat-option>
                        </mat-select>
                        <div class="edit-title">Horse Gender</div>
                    </div>

                    <div fxFlex="50" class="mat-select-box" fxLayoutAlign="start center">
                        <mat-select class="text-16 input-color p-0" placeholder="Horse Birth Year(required)" formControlName="birthYear" required>
                            <mat-option *ngFor="let horseYear of horseYears" value="{{horseYear}}">{{horseYear}}</mat-option>
                        </mat-select>
                        <div class="edit-title">Horse Birth Year</div>
                    </div>
                </div>
            </div>
            <textarea class="text-area text-16" placeholder="Add any neccessary notes on personality  or temperament here." formControlName="description" fxLayoutAlign="start center" name="description">
            </textarea>
        </div>

        <div class="text-box2 text-14" fxLayoutAlign="start center">
            <span>
            Use the fields below to attach an Owner, Trainer, and/or Lesser to this horse profile.
            If no owner is attached, the trainer will be responsible for payment.
        </span>
        </div>
        <div fxLayout="column">
            <div class="text-box3 text-16 pointer" (click)="searchTrainer()">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="15">
                        <img *ngIf="!trainer.avatarUrl" src="assets/icons/horselinc/ic-profile.svg" class="avatar small32" />
                        <img *ngIf="trainer.avatarUrl" src="{{trainer?.avatarUrl}}" class="avatar small32" />
                    </div>
                    <div fxFlex="75"> {{trainer.name}} </div>
                    <div fxFlex="10">
                        <img class="button-div " src="{{currentTrainerIcon}}" />
                    </div>
                </div>
                <div class="edit-title">Horse Trainer</div>
            </div>

            <div *ngFor="let owner of currentOwner" class="text-box3 text-16">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="15">
                        <img *ngIf="!owner.avatarUrl" src="assets/icons/horselinc/ic-profile.svg" class="avatar small32" />
                        <img *ngIf="owner.avatarUrl" src="{{owner?.avatarUrl}}" class="avatar small32" />
                    </div>
                    <div fxFlex="58">
                        {{owner?.name}}
                    </div>
                    <input class="text-16 input-color p-0" fxFlex="14" type="number" [(ngModel)]="owner.percentage" name="percentage" (ngModelChange)="changeOwnerPercentage($event, owner.userId)" [ngModelOptions]="{standalone: true}" required/>
                    <div fxFlex="4">%</div>
                    <div fxFlex="9" class="button-div pointer" (click)="cancelOwner(owner.userId)">
                        <img src="assets/icons/horselinc/cancel-24-px.svg" />
                    </div>
                </div>
                <div class="edit-title">Horse Owner(s)</div>
            </div>
            <div *ngIf="!ownerFlag" class="text-box3 text-16 pointer" (click)="searchOwner()">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="15">
                        <img src="assets/icons/horselinc/ic-profile.svg" class="avatar small32" />
                    </div>
                    <div fxFlex="75"> Search by name </div>
                    <div fxFlex="10" (click)="searchOwner()">
                        <img class="button-div" src="assets/icons/horselinc/search.svg" />
                    </div>
                </div>
                <div class="edit-title">Horse owner</div>
            </div>
        </div>
        <div fxLayout="column">
            <div class="p-16 mt-8 pointer" fxLayoutAlign.xs="end center" (click)="ownerFlag = false">
                <span class="text-16 green-color"> ADD ANOTHER HORSE OWNER</span>
            </div>
            <div class="p-16 pointer" fxLayoutAlign.xs="end center" (click)="newOwner()">
                <span class="text-16 green-color"> CREATE NEW HORSE OWNER</span>
            </div>
            <div class="p-8 ml-8">
                <span class="text-14 red-color" *ngIf="ownerErrFlag"> 
                Percentages of ownership must total 100%. Please review and try again.
            </span>
            </div>
            <div class="pl-16">
                <span class="text-14 black-color">
                Use the&nbsp;"Leased to"&nbsp;field to attach a Horse Manager to this horse profile in order forward payment reponsibilities until the Leaser to removed.
            </span>
            </div>

            <div fxLayout="row" fxLayout.xs="column">
                <div class="text-box3 text-16 pointer" (click)="searchLeaser()">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="15">
                            <img src="{{currentLeasedAvatar}}" class="avatar small32" />
                        </div>
                        <div fxFlex="75"> {{currentLeasedName}} </div>
                        <div fxFlex="10" class="button-div ">
                            <img src="{{currentLeasedIcon}}" />
                        </div>
                    </div>
                    <div class="edit-title">Leased To</div>
                </div>
            </div>
            <div class="p-16">
                <span class="text-14 black-green-color">REGISTRATION INFO</span>
            </div>
            <div fxLayout="column">
                <div *ngFor="let registration of registrations" class="mat-select-box" fxLayout="row" fxLayoutAlign="start center">
                    <div fxFlex="90" class="text-16 input-color p-0">
                        {{registration.name}}
                    </div>
                    <div fxFlex="10" class="button-div pointer" (click)="registrationDel(registration.name)">
                        <img src="assets/icons/horselinc/cancel-24-px.svg" />
                    </div>
                </div>
                <div *ngIf="!registrationFlag" class="mat-select-box" fxLayout="row" fxLayoutAlign="start center">
                    <input (change)="registrationAdd($event)" fxFlex="90" type="number" class="text-16 input-color p-0" placeholder="USEF registration" />
                    <div fxFlex="10" class="button-div pointer">
                        <img src="assets/icons/horselinc/cancel-24-px.svg" />
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
                    <div class="mat-select-box">
                        <input class="text-16 input-color p-0" placeholder="Sire" formControlName="sire" />
                        <div class="edit-title">Sire</div>
                    </div>
                    <div class="mat-select-box">
                        <input class="text-16 input-color p-0" placeholder="Dam" formControlName="dam" />
                        <div class="edit-title">Dam</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="mat-select-box">
                        <input class="text-16 input-color p-0" placeholder="Color" formControlName="color" />
                        <div class="edit-title">Color</div>
                    </div>
                    <div class="mat-select-box">
                        <input fxFlex class="text-16 input-color p-0" type="number" placeholder="Height" formControlName="height" min="0" />
                        <div class="edit-title">Height</div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column">
            <div class="p-16 mt-8 pointer" fxLayoutAlign.xs="end center" (click)="registrationFlag = false">
                <span class="text-16 green-color"> 
                ADD ANOTHER REGISTRATION
            </span>
            </div>
            <div>
                <span class="text-16"> 
               {{stateMessage}}
            </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end center">
                <button mat-button class="text-16 del-save-button del-button pointer" [disabled]="pageType=='new'" (click)="onSendReminder()">
                    Delete horse profile
                    <mat-icon *ngIf="isLogging1" ><mat-spinner color="warn" diameter="20">
                    </mat-spinner></mat-icon>
                </button>
                <button mat-button class="text-16 del-save-button save-button pointer" [disabled]="horseForm.invalid || isLogging" (click)="addHorse()">
                    Save
                    <mat-icon *ngIf="isLogging" >
                        <mat-spinner color="warn" diameter="20">
                        </mat-spinner>
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>