<div class="container page-layout simple fullwidth">
    <!-- HEADER -->
    <div class="title">
            <img src="assets/images/logos/horselinc.svg"/>
    </div>
        <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">

        <div class="cards">
            <!-- CARD 1 -->
            <div class="card" (click)="onManagerRole()">
                <img class="card-img" src="assets/icons/horselinc/ic-manager-big.png"/>
                <div class="card-content">
                    <p class="card-content-heaer">Horse Managers</p>
                    <p class="card-content-item">Horse Trainers</p>
                    <p class="card-content-item">Horse Owners</p>
                </div>
            </div>
            <!-- /CARD 1 -->

            <!-- CARD 2 -->
            <div class="card" (click)="onProviderRole()">
                <img class="card-img" src="assets/icons/horselinc/ic-provider-big.png"/>
                <div class="card-content">
                    <p class="card-content-heaer">Service Provider</p>
                    <p class="card-content-item">Horse Braiders</p>
                    <p class="card-content-item">Other Services</p>
                </div>
            </div>
            <!-- /CARD 2 -->
        </div>
        <div style="text-align: center; margin-left:20px; margin-right:20px">
            <p style="font-size: 14px;">Don't worry, you can update your profile to be able to access both types once you have an account</p>
        </div>

    </div>
    <!-- /CONTENT -->
</div>