@import "src/@fuse/scss/fuse";
#profile-provider {
    width: 100%;

    .center {
        margin-left: 0px !important;
        margin-right: 0px !important;
        .content-card {
            position: relative;

            .toolbar {
                position: fixed;
                z-index: 20;
                top:54px;
                width: 100%;
                background-color:white; 
                
                display: flex;
                -webkit-box-pack: start;
                justify-content: flex-start;
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-flex: 1;
                flex: 1 1 auto;
                height: 32px;
                min-height: 32px;
                max-height: 32px;
                color: #ec7185;
                cursor: pointer;
                mat-icon {
                    color: #ec7185;
                }
                border-width:0px;
                .toolbar-separator {
                    height: 32px;
                    width: 1px;
                    margin: 0 12px;
                }
            }
            apps-profile-provider-list {
                min-width: 320px;
            }
            apps-profile-provider-list,
            apps-profile-provider-details {
                flex: 0 0 25%;
                border-right: #efefef 1px solid;
                overflow-y: auto;
            }
            @include media-breakpoint('lt-md') {
                apps-profile-provider-list,
                apps-profile-provider-details {
                    flex: 0 0 35%;
                    border-right: #efefef 1px solid;
                }
            }
            @include media-breakpoint('xs') {
                apps-profile-provider-list {
                    border-right: none;
                }
                apps-profile-provider-list,
                apps-profile-provider-details {
                    flex: 1 0 100%;
                }
                apps-profile-provider-details {
                    display: none !important;
                    margin-top: 32px;
                }
                &.current-profile-selected {
                    .toolbar {
                        padding-left: 16px !important;
                        .profile-selection {
                            display: none !important;
                        }
                    }
                    .content {
                        apps-profile-provider-list {
                            display: none !important;
                        }
                        apps-profile-provider-details {
                            display: flex !important;
                        }
                    }
                }
            }
        }
    }
    .profile-provider-editprofile,
    .profile-provider-updateemail,
    .profile-provider-updatepassword,
    .profile-provider-instantpayout {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        z-index: 1000;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
        background-color: #4f748c;

        width: auto;
        min-width: 360px;
        max-width: 600px;
        height: 100%;
        @include media-breakpoint('xs') {
            min-width: 0 !important;
            max-width: 100% !important;
            width: 100% !important;
        }

        &.left-positioned {
            left: 0;
            transform: translateX(-100%);
        }
        &.right-positioned {
            right: 0;
            transform: translateX(100%);
        }
        &.open {
            transform: translateX(0);
        }
        &.locked-open {
            position: relative !important;
            transform: translateX(0) !important;
        }
        &.folded {
            position: absolute !important;
            top: 0;
            bottom: 0;
        }
        &.animations-enabled {
            transition-property: transform, width, min-width, max-width;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
        }
    }
    .profile-provider-addservice {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        position: absolute;
        top: 300px;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        width: auto;
        min-width: 360px;
        max-width: 600px;
        height: 250px;
        z-index: 1000;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
        background-color: #4f748c;
        @include media-breakpoint('xs') {
            top: 300px;
            min-width: 0 !important;
            max-width: 100% !important;
            width: 100% !important;
        }
        &.left-positioned {
            left: 0;
            transform: translateX(-100%);
        }
        &.right-positioned {
            right: 0;
            transform: translateX(100%);
        }
        &.open {
            transform: translateX(0);
        }
        &.locked-open {
            position: relative !important;
            transform: translateX(0) !important;
        }
        &.folded {
            position: absolute !important;
            top: 0;
            bottom: 0;
        }
        &.animations-enabled {
            transition-property: transform, width, min-width, max-width;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
        }
    }
}