<div id="user-reset-password" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title mt-80">
        <p class="title-name">Reset Your Password</p>
        <p class="title-desc">Enter your Email below and we’ll send you<br> instructions on how to reset your password</p>

    </div>
    <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">
        <div class="reset-password">
            <form id="reset-pssword-form" name="resetPsswordForm" [formGroup]="resetPasswordForm" novalidate>
                <input  matInput formControlName="email" type="email" placeholder="Enter your email" autocomplete="off"/>
                <p *ngIf="message" class="alert-danger">{{ message }}</p>
                <button mat-raised-button color="warn" (click)="resetPassword()">EMAIL INSTRUCTIONS</button>
                <button class="logInInstead" mat-raised-button color="warn" routerLink="/user/login">LOG IN INSTEAD</button>
            </form>
        </div>
    </div>
    <!-- /CONTENT -->
</div>