<div fxLayout="column" class="container">
    <div class="checkBox"*ngFor="let providerService of providerServices" fxLayout="row"  fxLayoutAlign="space-between center">
    
        <span class="text">{{providerService.service}}-${{(providerService.rate).toFixed(2)}}</span>
        <mat-checkbox  [(ngModel)]="checkboxes[providerService.uid]"></mat-checkbox>
        
    </div>
    <div  fxLayout="row">
        <button mat-button (click) = "onCloseClick()" class="button">CLOSE</button>
        <button mat-button (click) = "onDoneClick()" class="button">DONE</button>
    </div>
</div>