<div class="container">
    <form id="update-pssword-form" fxLayout="column" fxLayoutAlign="start" name="updatePsswordForm" [formGroup]="updatePsswordForm" novalidate>
        <div class="item1" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="edit-profile">Change Password</div>
            <div mat-raised-button class="btn" (click)="closePanel()"> <img src="assets/icons/horselinc/filled.svg" /> </div>
        </div>

        <div class="item3">
            <input class="m-0" type="password" matInput placeholder="Old Password" name="passwordOld" formControlName="passwordOld" autocomplete="off" required/>
            <mat-divider style="margin-left:3%;width:97%"></mat-divider>
            <input class="m-0" type="password" matInput placeholder="New Password" name="passwordNew" formControlName="passwordNew" autocomplete="off" required/>
            <mat-divider style="margin-left:3%;width:97%"></mat-divider>
            <input class="m-0" type="password" matInput placeholder="Confirm Password" name="passwordConfirm" formControlName="passwordConfirm" autocomplete="off" required/>
        </div>
    </form>
    <div class="cancel-save" fxLayout="row" fxLayoutAlign="space-between center">
        <button class="cancel" mat-raised-button (click)="closePanel()"> Cancel </button>
        <button class="save" mat-raised-button (click)="updatePassword()"> Save </button>
    </div>
</div>