@import 'src/@fuse/scss/fuse';
payment-provider-list-item {
    display: block;
    position: relative;
    margin: 10px 0px 20px 0px;
    border-bottom: 0px solid;
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;
    .rectangle {
        width: 100%;
        min-height: 160px;
        height: auto;
        padding: 5px;
        box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.1);
        // background-color: #ffffff;
        @include media-breakpoint('lt-md') {
            padding: 0px;
        }
    }
    &.move-disabled {
        .handle {
            display: none;
        }
    }
    .tags {
        .money {
            float: right;
            padding-top: 5px;
            width: 59px;
            height: 20px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.25;
            text-align: right;
            // color: #ec7185;
        }
        .money1 {
            float: right;
            padding-top: 5px;
            width: 59px;
            height: 20px;
            font-family: Roboto;
            font-size: 16px;
            line-height: 1.25;
            text-align: right;
            // color: #76BFC5;
        }
        .Oval {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
        .tag {
            font-size: 11px;
            border-radius: 2px;
            margin: 8px 4px 0 0;
            padding: 3px 8px;
            .ic-manager-green {
                width: 56px;
                height: 56px;
                object-fit: contain;
            }
            .tag-color {
                width: 8px;
                height: 8px;
                margin-right: 8px;
                border-radius: 50%;
            }
        }
    }
    &.completed {
        .title,
        .notes {
            text-decoration: line-through;
        }
    }
    .info {
        margin: 0 16px 0 20px;
        @include media-breakpoint('lt-md') {
            margin: 0 5px 0 10px;
        }
        .arrow-forward {
            width: 15px;
            height: 30px;
            color: #92A8A8;
        }
        .title {
            // flex:1;
            height: 30px;
            font-size: 20px;
            font-weight: 500;
            margin: 10px;
            font-family: Roboto;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.25;
            letter-spacing: normal;
            color: #000000;
            overflow: hidden;
            .payerName {
                font-weight: bold;
                font-size: 16px;
                overflow: hidden;
                width: auto;
                // height: 50px;
            }
            .title-date {
                // width: 58px;
                height: 20px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.67;
                letter-spacing: normal;
                text-align: right;
                color: rgba(0, 0, 0, 0.37);
            }
            .title-money {
                font-size: 16px;
                @include media-breakpoint('lt-md') {
                    font-size: 14px;
                }
            }
        }
        .tags {
            height: 30px;
            margin: 10px;
            .tag-label {
                margin-left: 10px;
                width: 70%;
                height: 20px;
                font-family: Roboto;
                font-size: 16px;
                line-height: 1.25;
                letter-spacing: normal;
                color: #000000;
                overflow: hidden;
            }
        }
        .notes {
            width: 180px;
            display: block;
            margin-left: 10px;
            margin-top: 10px;
            height: 30px;
            font-family: Roboto;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.43;
            letter-spacing: normal;
            color: #000000;
            overflow: hidden;
        }
        .duration {
            height: 20px;
            margin-left: 10px;
            width: 133px;
            font-family: Roboto;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.37);
        }
    }
    .buttons {
        .is-starred {
            margin: 0 0 0 16px;
        }
        .is-important {
            margin: 0;
        }
    }
    .ngx-dnd-content {
        // user-select: none;
    }
    &.gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
        @include mat-elevation(7);
    }
    &.gu-hide {
        display: none !important;
    }
    // &.gu-unselectable {
    //     -webkit-user-select: none !important;
    //     -moz-user-select: none !important;
    //     -ms-user-select: none !important;
    //     user-select: none !important;
    // }
    &.gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}