<div class="container page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="title">
            <img src="assets/images/logos/horselinc.svg"/>
    </div>
        <!-- / HEADER -->
        
    <!-- CONTENT -->
    <div class="content">

        <!-- <apps-calendar></apps-calendar> -->
          
        <div class="cards">

            <!-- CARD 1 -->
            <div class="card" >
                <!-- Title -->
                <div class="card-title">
                    <p>"Linc"ing horses to the services<br>they need by automating</p>
                </div>
                <!-- /Title -->

                <!-- /Data -->
                <div class="card-data">
                    <div class="card-data-item">
                        <img src="assets/icons/horselinc/ic-manager-small.svg"/>
                        <div>Service requests<br> from the Horse Managers</div>
                    </div>                 
                    <div class="card-data-item">
                        <img src="assets/icons/horselinc/ic-provider-small.svg"/>
                        <div>Service Provider Scheduling</div>
                    </div>                 
                    <div class="card-data-item">
                        <img src="assets/icons/horselinc/ic-invoicing-small.svg"/>
                        <div>Invoicing</div>
                    </div>                 
                    <div class="card-data-item">
                        <img src="assets/icons/horselinc/ic-payments-small.svg"/>
                        <div>Payments</div>
                    </div>                 
                </div>
            </div>
            <!-- /CARD 1 -->

            <!-- CARD 2 -->
            <div class="card">
                <!-- Title -->
                <div class="card-title">
                    <img src="assets/icons/horselinc/ic-manager-big.svg"/>
                    <div>Horse Managers</div>
                </div>
                <!-- /Title -->

                <!-- /Data -->
                <div class="card-data">
                    <div class="card-data-item">
                        <p>Set up horse profiles to easily manage services payments associated each horse.</p>
                    </div>
                    <div class="card-data-item">
                        <p>Request services for the horses that will be sent directly to the service providers’ schedules.</p>
                    </div>
                    <div class="card-data-item">
                        <p>Confirm automated invoices once services are completed to process payments from the assigned horse owner’s profile.</p>
                    </div>
                </div>
            </div>
            <!-- /CARD 2 -->

            <!-- CARD 3 -->
            <div class="card">
                <!-- Title -->
                <div class="card-title">
                        <img src="assets/icons/horselinc/ic-provider-big.svg"/>
                        <div>Service providers</div>
                    </div>
                <!-- /Title -->

                <!-- /Data -->
                <div class="card-data">
                    <div class="card-data-item">
                        <p>Set up your services and rates in your personalized profile. Manage scheduled service requests from your schedule screen.</p>
                    </div>
                    <div class="card-data-item">
                        <p>Mark services complete to automatically create an invoice back to the horse managers. Receive confirmation of automated payment once horse managers confirm the services are completed.</p>
                    </div>
                </div>
            </div>
            <!-- /CARD 3 -->
                
        </div>

        <!-- BUTTONS -->
        <div class="buttons">
            <button class="continue" mat-raised-button routerLink="/user/login">Continue</button>
        </div>
        <!-- /BUTTONS -->

    </div>
    <!-- /CONTENT -->
</div>