quick-panel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    z-index: 99;

    .mat-slide-toggle-content {
        flex: 1;
    }
}
