<div class="container" fxLayout="column" fxLayoutAlign="start">

    <!-- CONTENT -->
    <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
        <p class="label" style="text-align:left">Add payment Information</p>
        <button mat-icon-button class="close toggle-sidebar-folded" (click)="closePanel();">
            <mat-icon class="secondary-text s-20">close</mat-icon>
        </button>
    </div>

    <div class="content">
        <div class="card-info">
            <div class="card-mark">
            </div>
            <div class="card-number">
                <span>●●●●</span>
                <span>●●●●</span>
                <span>●●●●</span>
                <span>4242</span>
            </div>
        </div>
        <div class="card-list">
            <table>
                <tr *ngFor="let item of this.user?.horseManager?.customer?.cards">
                    <td class="column1"><img src="assets/icons/stripcard/{{item.brand}}.svg" /></td>
                    <td class="column2">{{item.brand}} {{item.last4}}</td>
                    <td class="column3">
                        <mat-radio-button value="online" class="py-8" [checked]="item.id === this.user?.horseManager?.customer.defaultSource" (change)="onChangeDefaultCard(item)"></mat-radio-button>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-add">
            <p style="cursor:pointer;" (click)="onAddPaymentCard()">Add New Card</p>
            <!-- <p>ADD NEW BANK ACCOUNT</p> -->
        </div>

        <div class="approver-header">
            <p class="approver-title">Payment approvers</p>
            <p class="approver-desc">These Horse Managers can approve payments to<br> Service Providers on your behalf (up to a specified<br> dollar value). </p>
        </div>

        <div class="approver-list">
            <mat-table class="approver-table" #table [dataSource]="paymentApproversData" [@animateStagger]="{value:'50'}">
                <!-- service Column -->
                <ng-container matColumnDef="avatar">
                    <mat-header-cell *matHeaderCellDef>Avatar</mat-header-cell>
                    <div class="column1" *matCellDef="let paymentApprover">
                        <img *ngIf="paymentApprover.avatarUrl" src="{{paymentApprover.avatarUrl}}" class="avatar small32" />
                        <img *ngIf="!paymentApprover.avatarUrl" src="assets/icons/horselinc/avatar-placeholder.png" class="avatar small32" />
                    </div>
                </ng-container>
                <!-- rate Column -->
                <ng-container matColumnDef="name-amount">
                    <mat-header-cell *matHeaderCellDef>Name-Amount</mat-header-cell>
                    <div class="column2" *matCellDef="let paymentApprover">
                        <p class="name">{{paymentApprover.name}}</p>
                        <p class="amount" *ngIf="paymentApprover.amount==0">(Unlimited)</p>
                        <p class="amount" *ngIf="paymentApprover.amount!=0">(up to ${{paymentApprover.amount}})</p>
                    </div>
                </ng-container>

                <ng-container matColumnDef="edit-buttons">
                    <mat-header-cell *matHeaderCellDef>Edit Actions</mat-header-cell>
                    <div class="column3" *matCellDef="let paymentApprover">
                        <div fxFlex="row" fxLayoutAlign="center center">
                            <!-- <mat-icon aria-label="" (click)="$event.stopPropagation(); editPaymentApprover(paymentApprover)">edit</mat-icon> -->
                            <mat-icon style="cursor:pointer;" class="editIcon s-20" (click)="$event.stopPropagation();editPaymentApprover(paymentApprover)">edit</mat-icon>
                        </div>
                    </div>
                </ng-container>

                <ng-container matColumnDef="delete-buttons">
                    <mat-header-cell *matHeaderCellDef>Delete Actions</mat-header-cell>
                    <div class="column4" *matCellDef="let paymentApprover">
                        <div fxFlex="row" fxLayoutAlign="center center">
                            <!-- <mat-icon aria-label="" (click)="$event.stopPropagation(); deletePaymentApprover(paymentApprover)">delete</mat-icon> -->
                            <mat-icon style="cursor:pointer;" class="editIcon s-20" (click)="$event.stopPropagation();deletePaymentApprover(paymentApprover)">close</mat-icon>
                        </div>
                    </div>
                </ng-container>

                <!-- <mat-header-row *matHeaderRowDef="providerServiceDataColumns"></mat-header-row>     -->
                <mat-row *matRowDef="let paymentApprover; columns: paymentApproversDataColumns;" (click)="editPaymentApprover(paymentApprover)" matRipple [@animate]="{value:'*',params:{y:'100%'}}">
                </mat-row>
            </mat-table>
        </div>

        <div class="approver-add">
            <p style="cursor:pointer;" (click)="addPaymentApprover()">Add Payment Approver</p>
        </div>
        <div class="authorized">
            <p class="authorized-title">Authorized to Approve Payments</p>
            <p class="authorized-desc">These Horse Managers have added you as a<br> payment approver. </p>
            <div class="item">
                <!-- <img class="avatar" src="assets/images/avatars/alice.jpg" /> -->
                <div class="name_desc">
                    <div class="name">Eliza McGee</div>
                    <div class="desc">(up to $500)</div>
                </div>
            </div>
            <!-- <img src="assets/icons/horselinc/edit-24-px.svg"/> -->
        </div>

        <div style="height:auto">
        </div>
        <button mat-raised-button class="request-auth-btn" type="" routerLink="">Request Authorization</button>
    </div>
    <div class="next-cancel">
        <button mat-raised-button class="cancel" type="" (click)="closePanel();">Cancel</button>
        <button mat-raised-button class="next" type="" (click)="closePanel();">Next</button>
    </div>
    <!-- /CONTENT -->
</div>