<div id="invoice-horse-profile">
    <div name="horseForm" [formGroup]="horseForm" fxLayout="column">
        <div fxLayout="row" class="edit-horse-profile">
            <div class="text-box6 title-26 black-green-color" fxLayoutAlign="start center">
                Create Horse Profile
            </div>

            <div (click)="ProfileCancel()" class="pointer">
                <img class="button-div pointer" src="assets/icons/horselinc/filled.svg" />
            </div>
        </div>
        <div class="photo input-group">
            <label for="file123" class="file-upload">
                    <input id="file123" type="file" (change)="changedAvatarFile($event)">
                    <img class="image" src={{uploadedAvatarUrl}}/>
                </label>
        </div>
        <div class="mat-select-box" fxLayoutAlign="start center">
            <input fxFlex class="text-16 input-color p-0" placeholder="Horse Barn Name(required)" formControlName="barnName" required/>
            <div class="edit-title">Horse Barn Name</div>
        </div>

        <div class="mat-select-box" fxLayoutAlign="start center">
            <input fxFlex class="text-16 input-color p-0" placeholder="Horse Show Name" formControlName="displayName" />
            <div class="edit-title">Horse Show Name</div>
        </div>
        <div class="mat-select-box" fxLayoutAlign="start center">
            <mat-select class="text-16 input-color" placeholder="Horse Gender" formControlName="gender">
                <mat-option value="Mare">Mare</mat-option>
                <mat-option value="Stallion">Stallion</mat-option>
                <mat-option value="Gelding">Gelding</mat-option>
            </mat-select>
            <div class="edit-title">Horse Gender</div>
        </div>
        <div class="mat-select-box" fxLayoutAlign="start center">
            <mat-select class="text-16 input-color p-0" placeholder="Horse Birth Year" formControlName="birthYear">
                <mat-option *ngFor="let horseYear of horseYears" value="{{horseYear}}">{{horseYear}}</mat-option>
            </mat-select>
            <div class="edit-title">Horse Birth Year</div>
        </div>
        <div class="mat-select-box" fxLayoutAlign="start center">
            <mat-select class="text-16 input-color" placeholder="Set invoice method" [(value)]="selected">
                <mat-option value="sms">Text</mat-option>
                <mat-option value="email">Email</mat-option>
            </mat-select>
            <div class="edit-title">Set invoice method</div>
        </div>
        <input *ngIf="selected=='sms'" class="mat-select-box text-16 input-color p-16" placeholder="Text" [(ngModel)]="sms" name="sms" (ngModelChange)="changeSms($event)" [ngModelOptions]="{standalone: true}" required/>
        <input *ngIf="selected=='email'" class="mat-select-box text-16 input-color p-16" placeholder="Email" [(ngModel)]="email" name="email" (ngModelChange)="changeEmail($event)" [ngModelOptions]="{standalone: true}" required/>
        <textarea class="text-area text-16" placeholder="Add any neccessary notes on personality  or temperament here." formControlName="description" name="description">
        </textarea>
        <div class="text-box3 text-14">
            Use the fields below to attach an Owner, Trainer, and/or Leaser to this horse profile/ If no owner is attached, the trainer will be responsible for payment.
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button (click)="addHorse()" mat-button class="button big red-color pointer" [disabled]="horseForm.invalid || isLogging">
            <span class="text-16 white-color">
                Next
            </span>
            <mat-icon *ngIf="isLogging" ><mat-spinner color="warn" diameter="20">
            </mat-spinner></mat-icon>
        </button>
        </div>

    </div>
</div>